<h1>Roshambo!</h1>

<p>To play this game, all you have to do is pick rock, paper, or scissors. Rocks beats paper, paper beats rock, and scissors beats paper! Good luck!</p>


<br/>

<h2>Pick rock, paper, or scissor<h2>
<%= link_to image_tag("rock_paper_scissors/rock.jpeg"), roshambo_path(rock)%>
<%= link_to image_tag("rock_paper_scissors/paper.jpeg"), roshambo_path(paper)%>
<%= link_to image_tag("rock_paper_scissors/scissors.jpeg"), roshambo_path(scissors)%>
<%end%>